h1,
.h1 {
    padding: 5px 0px 5px 0px;
    text-align: left;
}

.md-typeset h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin: 0 0 0em;
    font-weight: 500;
    color: #707070;
}

.md-typeset h2 {
    font-weight: 400;
}

.md-header {
    position: static;
    background-color: var(--md-primary-fg-color-invalid);
    height: 3em;
}

.md-content img {
    background: white;
}

.md-footer {
    padding: 0px 0% 0px 0%;
    display: none;
}

.md-header--shadow {
    box-shadow: 0px 0px 0px 0px #0000001a, 0 0.2rem 0.4rem #0000;
}

.md-search {
    display: none;
}

.md-header__button[for=__search] {
    display: none;
}

.md-nav__title[for=__drawer] {
    display: none;
}

.md-typeset iframe, .md-typeset img, .md-typeset svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-typeset blockquote {
    border-left-width: 0.2rem;
}

.md-main__inner {
    padding-top: 0rem;
    margin-top: 0rem;
}

.md-sidebar {
    color: #707070;
}
.md-sidebar--secondary {
    width: 18rem;
    padding: 1.2rem 0 0 2rem;
}

.md-header__title {
    /* display: none; */
    color: #707070;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
