body {
    /*font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; */
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif; */
}

h1,
.h1 {
    font-size: 30px;
    padding: 5px 0px 10px 0px;
    margin: 30px 0px 25px 0px;
    text-align: left;
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;*/
}

.md-typeset h1, .md-typeset h2 {
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;*/
    font-weight: 400;
}

img {
    background: white;
}

.md-header {
    position: fixed;
    font-size: 30%;
    /*height: 0;*/
    display: none;
}

.md-footer {
    padding: 0px 0% 0px 0%;
    display: none;
}

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}

.md-sidebar__scrollwrap {
    max-height: 95%;
}

.md-typeset blockquote {
    border-left-width: 0.2rem;
}
/*
.md-typeset table:not([class]) th {
    background-color: rgba(200, 200, 200, 0.5);
    color: #0c0c0c;
}
*/

.md-search__inner, .md-icon--search {
    display: none;
}

.md-main__inner {
    padding-top: 0rem;
    margin-top: 0.2rem;
}

/*
.md-content #home {
    display: none;
}
*/

.md-sidebar--primary {
    display: none;
}

.md-sidebar--secondary {
    width: 18rem;
    padding: 1.2rem 0 0 2rem;
}

.md-header-nav__button {
    display: none;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}


.md-typeset iframe, .md-typeset img, .md-typeset svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
.md-typeset__table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.md-typeset pre {
    background-color: hsla(0, 0%, 100%, 0);
}
*/
